<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
	<title>码头帮，程序员求职最好的伙伴</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css"></link>
	<style type="text/css">
		li{
			list-style: none;
		}
		a,a:hover,a:active{
			text-decoration: none;
		}
		
		@media (min-width: 1200px) {
			#content{
				margin-top:30px;
			}
			.major{
				font-size: 18px;
			}	
			.item>li{
				font-size:20px;
				margin:15px;
			}
			#page{
				margin-top: 100px;
			}
			.pages{
				margin: 30px auto;
			}
			.pages>li{
				margin: 30px auto;
			}
			.page-title{
				margin-top: 20px;
				font-size: 24px;
			}
		}
	</style>
</head>
<body>
	<h1>我的个人信息</h1>
	<div id="content" class="col-lg-8 col-lg-offset-2">		
		<!-- 左侧个人信息栏 -->
		<div class="col-lg-2">
			<div class="col-lg-12">
				<!-- 这里头像 -->
				<img src="/images/touxiang.png" class="img-responsive">
				<!-- 这里艾迪 -->
				<p class="major">出头天</p>
			</div>
			<!-- 个人信息栏 -->
			<div class="col-lg-12">
				<ul class="major">
					<li>西安邮电大学</li>
					<li>光电信息工程</li>
				</ul>
			</div>
		</div>
		<!-- 右侧简历/做过的题 -->
		<div class="col-lg-8 col-lg-offset-1">
			<!-- 简历 -->
			<div>
				<ul id="myTab" class="nav nav-tabs">
				    <li class="active"><a href="#all" data-toggle="tab">查看全部</a></li>
				    <li><a href="#chat" data-toggle="tab">待沟通</a></li>
				    <li><a href="#interview" data-toggle="tab">通知面试</a></li>
				    <li><a href="#unable" data-toggle="tab">不合适</a></li>
				</ul>

				<div id="myTabContent" class="tab-content">
				    <div class="tab-pane fade in active" id="all">
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">阿里巴巴</li>
							<li class="pull-right">通知面试</li>
				        </div>
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">腾讯</li>
							<li class="pull-right">待沟通</li>
				        </div>
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">百度</li>
							<li class="pull-right">不合适</li>
				        </div>
				        
				    </div>
				    <div class="tab-pane fade" id="chat">
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">腾讯</li>
							<li class="pull-right">待沟通</li>
				        </div>
				    </div>
				    <div class="tab-pane fade" id="interview">
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">阿里巴巴</li>
							<li class="pull-right">通知面试</li>
				        </div>
				    </div>
				    <div class="tab-pane fade" id="unable">
				        <div class="item clearfix">
				        	<li class="pull-left">web前端开发</li>
				        	<li class="pull-left">百度</li>
							<li class="pull-right">不合适</li>
				        </div>
				    </div>
				</div>
			</div>			
			<!-- 刷过的题 -->
			<div id="page">
				<div class="pages col-lg-4">
					<li class="page-title"><a>HTML/CSS专项训练</a></li>
					<li class="page-time">完成时间：<p>2015-12-12</p></li>
					<li class="score">80</li>
					
				</div>
			</div>
		</div>
		
	</div>
</body>
<script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>